html, body	{
	margin: 0;
	height: 100%;
	background-color: cadetblue;
	font-family: cursive;
}

h1 {
	text-align: center;
}

#table{
   display: flex;
   flex-flow: column;
   align-items: center;
   width: 100%;
   height: 200px;
}

#form{
   display: flex;
   width: 500px;
   align-items: center;
   background-color: darkgoldenrod;
   border-radius: 5px;
   padding: 10px;
}

#search{
   width: 100%;
   height: 25px;
   
}

#searchButton{
   background-color: springgreen;
   cursor: pointer;
   margin-left: 5px;
   width: 20%;
   height: 30px;
   
}

#footer{
   width: 520px;
   height: 50px;
   background-color: darkgoldenrod;
   margin-top: 30px;
}

#table2{
   display: flex;
   flex-flow: column;
   align-items: center;
   width: 100%;
   height: 200px;
}

#form2{
   display: flex;
   width: 500px;
   align-items: center;
   background-color: darkgoldenrod;
   border-radius: 5px;
   padding: 10px;
}

#search2{
   width: 100%;
   height: 25px;
   
}

#searchButton2{
   background-color: springgreen;
   cursor: pointer;
   margin-left: 5px;
   width: 20%;
   height: 30px;
   
}

#footer2{
   width: 520px;
   height: 50px;
   background-color: darkgoldenrod;
   margin-top: 30px;
}